{% import '_macros/include-assets.html.twig' as _include_assets %}
<!DOCTYPE html>
<html>
    <head>

        {% block metadata %}
            {% for meta in meta_registry() %}
                <meta {% for k, v in meta %}{{ k }}="{{ v }}" {% endfor %}/>
            {% endfor %}
        {% endblock %}

        <title>{% block title %}Rob Frawley 2nd{% endblock %}</title>

        {% block generic_links %}
            {{ _include_assets.generic_link('favicon.ico', 'image/x-icon', 'icon') }}
        {% endblock %}

        {% block stylesheets %}
            {{ _include_assets.stylesheets(['app.css', 'https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab']) }}
        {% endblock %}

    </head>
    <body>

        {% block body_head %}
            <header id="main-header">
                {% include('_fragments/body-header.html.twig') only %}
            </header>
        {% endblock %}

        {% block body_before %}{% endblock %}

        <div id="main-content">
            {% block body_main %}
                {# main body content #}
            {% endblock %}
        </div>

        {% block body_foot %}
            <footer id="main-footer">
                {% include('_fragments/body-footer.html.twig') only %}
            </footer>
        {% endblock %}

        {% block javascripts %}
            {{ _include_assets.javascripts(['manifest.js', 'vendor.js', 'app.js']) }}
        {% endblock %}

    </body>
</html>
