{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <ul class="article-list">
        {% for a in articles %}
            <li>
                <em>{{ a.getTitle() }}</em> (<time>{{ a.getCreated().format('l M j Y @ H:i') }}</time>)
                [
                <a href="{{ path('app.articles_view', {
                    slug: a.getSlug(),
                    day: a.getCreated().format('d'),
                    month: a.getCreated().format('m'),
                    year: a.getCreated().format('Y'),
                }) }}">date-link</a>,
                <a href="{{ path('app.articles_permalink', {
                    uuid: a.getIdentity(),
                }) }}">perma-link</a>
                ]
            </li>
        {% endfor %}
    </ul>

    <div class="page-navigation">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}
