{% extends 'base.html.twig' %}

{% block title %}Articles: {{ article.getTitle() }}{% endblock %}

{% block body_main %}

    <h1>{{ article.getTitle() }}</h1>

    <div class="time">
        <p>Written on <time>{{ article.getCreated().format('r') }}</time></p>
        {% if article.getCreated() != article.getUpdated() %}
            <p>Updated on <time>{{ article.getUpdated().format('r') }}</time></p>
        {% endif %}
    </div>

    <hr />

    <p><strong>Article Tags</strong></p>
    <ul>
        {% for tag in article.getTags() if article.hasTags() %}
            <li>{{ tag.getName() }}</li>
        {% endfor %}
    </ul>

    <hr />

    <div>
        {{ markdown(article.getContent()) }}
    </div>

    <hr />

    <p><strong>Article Comment</strong></p>

    {% for comment in article.getComments() if article.hasComments() %}
        <div>
            <h2>{{ comment.getTitle() }}</h2>
            <p>Written on <time>{{ comment.getCreated().format('r') }}</time> by <em>{{ comment.getAuthorName() }} 	&lt;{{ comment.getAuthorEmail() }}&gt;</em></p>

            <div>
                {{ markdown(comment.getContent()) }}
            </div>
        </div>
        <hr />
    {% endfor %}

{% endblock %}
